<h1>
  Payment Results
</h1>

<p>

 A <%= @number_of_years %> year loan of $<%=@loan_value %>, with an annual rate of <%= @the_basis_points %>, requires a monthly payment of $<%=@monthly_payment %>.
</p>

<p>
<a href="/payment/new">Calculate Another Payment </a>
</p>
