<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label for="user_apr">
      APR
    </label>
      <input id="user_apr" type="text1" name="user_apr">
  </div>

  <div>
    <label for="user_years">
      Number of years
    </label>
      <input id="user_years" type="text2" name="user_years">
  </div>

  <div>
    <label for="user_principal">
      Principal
    </label>
      <input id="user_principal" type="text3" name="user_principal">
  </div>

  <button> Calculate monthly payment </button>

</form>
