<h1>Random Calculation</h1>

<form action="/random/results">
  <div>
    <label>
      Minimum
    </label>
      <input type="text1" name="user_min">
  </div>

  <div>
    <label>
      Maximum
    </label>
      <input type="text2" name="user_max">
  </div>

  <button> Pick Random Number </button>

  <form>
