<h1>Square Calculation</h1>

<form action="/square/results">
  <div>
    <label for="user_number">
      Enter a number
    </label>
      <input id="user_number" type="text" name="user_number">
  </div>

  <button> Calculate square </button>

</form>
