<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <div>
    <label for "user_number1"> Enter a number
    </label>
      <input id="user_number1" type="text" name="user_number1">
  </div>

  <button> Calculate square root </button>

</form>
